@font-face {
  font-family: scriptina;
  src: url(../../assets/fonts/scriptina/SCRIPTIN.ttf);
}

h1 {
  font-size: 80px;
  font-family: scriptina, serif;
  font-weight: bold;
  text-align: center;
  color: #FEDA6A;
}

.jumbotron {
  background-color: #393F4D;
  height: 16em;
  border-radius: 0;
  margin: 0;
}
