<div class="first row"></div>
<div class="foreground fixed row">
  <div id="titleWrapper">
    <h1 class="primary-font">MUSE</h1>
  </div>
</div>
<div id="aThing" class="fixed row">
  <button class="btn btn-secondary btn-lg" [routerLink]="['/editor']">Go To Editor</button>
</div>
<div class="foreground flex row">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        <h2 class="primary-font">Accessible</h2>
        <p class="secondary-font">
          Muse gives those with visual difficulties
          the opportunity to learn core programming
          concepts in an intuitive way.
        </p>
      </div>
      <div class="col-sm">
        <h2 class="primary-font">Innovative</h2>
        <p class="secondary-font">
          Instead of manipulating visual components,
          you can write scripts in our custom language, Calliope, in order to manipulate
          sounds to represent common data structures and algorithms.
        </p>
      </div>
      <div class="col-sm">
        <h2 class="primary-font">Calliope</h2>
        <p class="secondary-font">
          Calliope is written from the ground up to be very
          human readable so you can focus less on language
          syntax and more on programming.
        </p>
      </div>
    </div>
  </div>
</div>
